name: Run Unit tests

on:
  push:
    branches: 
      - 'feature/**'
  pull_request:
    branches: 
      - 'feature/**'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: cd ./cli
    - run: npm i
    - run: cd ../cli-tests
    - run: npm ci
    - run: npm test